In [1]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from collections import Counter
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [24]:
#Rutas 
RutaReviews =r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry Final\ProyectoG4-Google_Yelp\Data\Parquet\review.PARQUET"
RutaReviewsFL= r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry Final\ProyectoG4-Google_Yelp\Data\Parquet\Reviews_florida.PARQUET"
rutabusines=r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry Final\ProyectoG4-Google_Yelp\Data\Parquet\business.PARQUET"
rutaSitios=r"C:\Users\juanc.DESKTOP-LGMDQP1\OneDrive\Documentos\Proyecto Henry Final\ProyectoG4-Google_Yelp\Data\Parquet\Sitios.PARQUET"

In [25]:
dfbusines=pd.read_parquet(rutabusines)
dfSitios=pd.read_parquet(rutaSitios)

In [4]:
#Dataframes
dfreview= pd.read_parquet(RutaReviews)
dfreviewFL= pd.read_parquet(RutaReviewsFL)

In [5]:
# Inicializar el analizador de sentimientos de NLTK
sid= SentimentIntensityAnalyzer()

In [6]:
#Prueba
resultado=sid.polarity_scores("it was a horrible experience")
resultado

{'neg': 0.538, 'neu': 0.462, 'pos': 0.0, 'compound': -0.5423}

In [7]:
#Analisis de sentimiento para el archivo review

# Retrona 0 si es una reseña negativa
# Retrona 1 si es una reseña nula o neutra
# Retrona 2 si es una reseña positiva

def analyze_sentiment(text):
    if text is None or pd.isna(text):
        return 1 
    else:
        
        sentiment_score = sid.polarity_scores(text)['compound']
        if sentiment_score < -0.05:
            return 0  
        elif sentiment_score > 0.05:
            return 2  
        else:
            return 1  

dfreview['sentiment_analysis'] = dfreview['text'].apply(analyze_sentiment)

In [8]:
#Analisis de sentimiento para el archivo Reviews_florida

def analyze_sentiment(text):
    if text is None or pd.isna(text):
        return 1 
    else:
        
        sentiment_score = sid.polarity_scores(text)['compound']
        if sentiment_score < -0.05:
            return 0  
        elif sentiment_score > 0.05:
            return 2  
        else:
            return 1  

dfreviewFL['sentiment_analysis'] = dfreviewFL['text'].apply(analyze_sentiment)

In [9]:
filtro=dfbusines["business_id"] == ""

In [10]:
dfreview

,review_id,user_id,business_id,stars review,text,fecha review,hora entera review,dia review,sentiment_analysis
0,cCs7yPSyk8NdA-Ufoz_7hw,FodM8aoGMQO2zsQCQxBTYQ,v5ktgWMAARaczTMh2rAJKg,2,The service here has gone down. We used to go ...,2017-12-27,2,Miércoles,0
1,8ZDUB-Y6JFxex541jHprGg,bIXslp2Sojhp9OcA-PNTvw,-zsvmEbkd-K9K2DAAKqiEQ,5,Thoroughly enjoyed our visit to Salty's this e...,2018-07-17,2,Martes,2
2,Naht5FrBGZDFGjwCQ-DyMw,QKoP7XabOXXWIkTwvYyCiA,xGUAa3xa8KsmbolC3XboQg,5,Xtreme Tacos has become one of my favorite pla...,2017-10-02,16,Lunes,2
3,Au_hzNqry6cPlnUGklB8QQ,lE5pLYWxkjhwwNywRc5q_Q,pjb3xGA9ccjl49B5ERH46w,1,Spent way too much money to get actually spoil...,2017-09-20,17,Miércoles,2
4,08zRc30-H07BsVo9LsIBeQ,xyFV6RJvioJWBLe6VRfqAA,-zsvmEbkd-K9K2DAAKqiEQ,5,"Live music, nice patio seating, large bar with...",2017-12-02,18,Sábado,2
...,...,...,...,...,...,...,...,...,...
46248,6iLfgKeFrzA2kbuXDOK9ng,j3X-vOFNaDsSq5rHNA984A,LgaPsosgAnyNst8X--xnIA,2,I tried to order a steak tostada and I was tol...,2021-12-07,18,Martes,2
46249,gGdC75nHWPsftA6Q_ooaDw,mNp-w-r2CVM7wPjP5UbPng,VVarKkODJTs_qx_gz4Hxbg,5,"In rating chain restaurants, one has to stay a...",2017-05-28,11,Domingo,2
46250,f9odrk0XCRtMsNL0kQZDYg,q4BwmLQ3GixSMl_3t-bAvw,Hywj7lDRT7x5V9l6fiAKpQ,5,Yum! I'm a west coat girl who loves her Authe...,2020-09-20,18,Domingo,2
46251,3UUN6-33ZLspm0K36hsD9A,ke_64n5NQD3UyFMHEIE9Bg,lrowppSl2sk3hU4tSUaS6Q,5,Amazing food and service! had the chicharrones...,2021-10-06,21,Miércoles,2
46252,vyKPnyBiqlT8fzMOuD7PtQ,QD-Qmn5s0OZJ8uwcUmABrA,c6RWw740cIB9-efs9tSLyg,5,Small authentic Mexican restaurant. Very frien...,2019-07-12,17,Viernes,2

In [11]:
#Le agregamos a busines la columna name del restaurant
dfreview = pd.merge(dfreview, dfbusines, on='business_id', how='left')

In [35]:
dfreviewFL

,user_id,user_name,rating,text,resp,gmap_id,business_name,category,city,State_review,date,hour,day,sentiment_analysis
0,1.176490e+20,Jane Cook,5,any time we are in Pompano Beach we go for lun...,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2015-05-25,17,Monday,2
1,1.041909e+20,Mark Felix,4,Good service. Food was so so.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2017-11-14,9,Tuesday,2
2,1.121549e+20,Yanio w Alfonso,1,Nasty place and very expensive.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-08-19,6,Sunday,0
3,1.126933e+20,Carlos San Luis,5,Good mexican food,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-01-01,15,Monday,2
4,1.131080e+20,Maigra Hernandez,5,Tacos were great,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-03-04,15,Sunday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,1.134588e+20,Ade,1,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-04-01,3,Wednesday,1
67321,1.182218e+20,Ambar Escribano,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-31,20,Wednesday,1
67322,1.175239e+20,Johana Murillo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-14,18,Monday,1
67323,1.045610e+20,Robert Angulo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-28,6,Monday,1
67324,1.154438e+20,Anthony Porras,4,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-23,2,Tuesday,1

In [12]:
#Ordenar el las columnas
orden= ["review_id","user_id","name","business_id","stars review","text","fecha review","hora entera review","dia review","sentiment_analysis","longitude","stars business","restaurant review count","Lunes horarios","Martes horarios","Miércoles horarios","Jueves horarios","Viernes horarios","Sábado horarios","Domingo horarios"]
dfreview[orden]

,review_id,user_id,name,business_id,stars review,text,fecha review,hora entera review,dia review,sentiment_analysis,longitude,stars business,restaurant review count,Lunes horarios,Martes horarios,Miércoles horarios,Jueves horarios,Viernes horarios,Sábado horarios,Domingo horarios
0,cCs7yPSyk8NdA-Ufoz_7hw,FodM8aoGMQO2zsQCQxBTYQ,San Jose Mexican Restaurant,v5ktgWMAARaczTMh2rAJKg,2,The service here has gone down. We used to go ...,2017-12-27,2,Miércoles,0,-82.541048,3.0,155,11:0-21:30,11:0-21:30,11:0-21:30,11:0-21:30,11:0-22:0,11:0-22:0,12:0-21:0
1,8ZDUB-Y6JFxex541jHprGg,bIXslp2Sojhp9OcA-PNTvw,Salty's Island Bar & Grille,-zsvmEbkd-K9K2DAAKqiEQ,5,Thoroughly enjoyed our visit to Salty's this e...,2018-07-17,2,Martes,2,-82.829336,4.0,599,0:0-0:0,8:30-16:0,8:30-0:0,8:30-0:0,8:30-1:0,8:30-1:0,8:30-0:0
2,Naht5FrBGZDFGjwCQ-DyMw,QKoP7XabOXXWIkTwvYyCiA,Xtreme Tacos,xGUAa3xa8KsmbolC3XboQg,5,Xtreme Tacos has become one of my favorite pla...,2017-10-02,16,Lunes,2,-82.457399,4.5,193,0:0-0:0,16:0-23:0,16:0-23:0,16:0-23:0,11:0-21:0,16:0-1:0,11:0-15:0
3,Au_hzNqry6cPlnUGklB8QQ,lE5pLYWxkjhwwNywRc5q_Q,Carmelita's Mexican Restaurant,pjb3xGA9ccjl49B5ERH46w,1,Spent way too much money to get actually spoil...,2017-09-20,17,Miércoles,2,-82.744281,3.5,108,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:30,11:0-21:30,9:0-21:0
4,08zRc30-H07BsVo9LsIBeQ,xyFV6RJvioJWBLe6VRfqAA,Salty's Island Bar & Grille,-zsvmEbkd-K9K2DAAKqiEQ,5,"Live music, nice patio seating, large bar with...",2017-12-02,18,Sábado,2,-82.829336,4.0,599,0:0-0:0,8:30-16:0,8:30-0:0,8:30-0:0,8:30-1:0,8:30-1:0,8:30-0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46248,6iLfgKeFrzA2kbuXDOK9ng,j3X-vOFNaDsSq5rHNA984A,Mi Casa Mexican Restaurant,LgaPsosgAnyNst8X--xnIA,2,I tried to order a steak tostada and I was tol...,2021-12-07,18,Martes,2,-82.151000,3.5,137,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,11:0-21:0
46249,gGdC75nHWPsftA6Q_ooaDw,mNp-w-r2CVM7wPjP5UbPng,Pollo Tropical,VVarKkODJTs_qx_gz4Hxbg,5,"In rating chain restaurants, one has to stay a...",2017-05-28,11,Domingo,2,-82.686921,2.5,116,10:30-23:0,10:30-23:0,10:30-23:0,10:30-23:0,10:30-23:0,10:30-23:0,10:30-23:0
46250,f9odrk0XCRtMsNL0kQZDYg,q4BwmLQ3GixSMl_3t-bAvw,La Pasadita,Hywj7lDRT7x5V9l6fiAKpQ,5,Yum! I'm a west coat girl who loves her Authe...,2020-09-20,18,Domingo,2,-82.745316,4.5,19,None,10:0-21:0,10:0-21:0,10:0-21:0,10:0-22:0,10:0-22:0,10:0-21:0
46251,3UUN6-33ZLspm0K36hsD9A,ke_64n5NQD3UyFMHEIE9Bg,Badfins Food + Brew,lrowppSl2sk3hU4tSUaS6Q,5,Amazing food and service! had the chicharrones...,2021-10-06,21,Miércoles,2,-82.828880,4.0,593,0:0-0:0,11:30-21:0,11:30-21:0,11:30-21:0,11:30-22:0,11:30-22:0,11:30-21:0
46252,vyKPnyBiqlT8fzMOuD7PtQ,QD-Qmn5s0OZJ8uwcUmABrA,Pinch a Taco,c6RWw740cIB9-efs9tSLyg,5,Small authentic Mexican restaurant. Very frien...,2019-07-12,17,Viernes,2,-82.493984,5.0,34,None,None,None,None,None,None,None

In [21]:
filtrox=dfreview["name"] == "Taco Bell"
tacobell2=dfreview[filtrox]

In [13]:
#Se guarda en un df solo las filas de taco bell
filtro= dfreviewFL["business_name"] == "Taco Bell"
tacobell=dfreviewFL[filtro]

In [14]:
#Se hace un procesamiento del lenguaje natural con el objetivo de encontrar las palabras mas repetidas en todas las reseñas
todos_los_textos = ' '.join(texto for texto in tacobell['text'] if texto is not None)

# Función para obtener las 10 palabras más repetidas en un texto
def obtener_palabras_mas_repetidas(texto, num_palabras=40):
    stop_palabras = set(stopwords.words('spanish'))
    palabras = word_tokenize(texto.lower())
    words_filtered = [word for word in palabras if word.isalnum() and word not in stop_palabras]
    contador_palabra = Counter(words_filtered)
    palabras_mas_comunes = contador_palabra.most_common(num_palabras)
    return palabras_mas_comunes

# Obtener las 10 palabras más repetidas en el texto combinado
palabras_mas_repetidas = obtener_palabras_mas_repetidas(todos_los_textos)

In [15]:
palabras_mas_repetidas

[('the', 4253),
 ('and', 3238),
 ('i', 2638),
 ('to', 2108),
 ('food', 1928),
 ('was', 1765),
 ('it', 1440),
 ('is', 1347),
 ('taco', 1347),
 ('good', 1257),
 ('they', 1173),
 ('bell', 1101),
 ('service', 1085),
 ('my', 1046),
 ('for', 1010),
 ('in', 959),
 ('of', 938),
 ('this', 890),
 ('order', 806),
 ('not', 787),
 ('you', 711),
 ('but', 708),
 ('great', 675),
 ('fast', 664),
 ('very', 650),
 ('that', 643),
 ('at', 603),
 ('on', 602),
 ('always', 569),
 ('have', 528),
 ('are', 476),
 ('with', 468),
 ('staff', 459),
 ('there', 446),
 ('place', 435),
 ('drive', 423),
 ('friendly', 418),
 ('by', 414),
 ('get', 402),
 ('tacos', 391)]

In [16]:
tacobell.isna().sum()

user_id                  0
user_name                0
rating                   0
text                  5393
resp                     0
gmap_id                  0
business_name            0
category                 0
city                     0
State_review             0
date                     0
hour                     0
day                      0
sentiment_analysis       0
dtype: int64

In [17]:
tacobell["sentiment_analysis"].value_counts()

sentiment_analysis
1    6474
2    3406
0    1092
Name: count, dtype: int64

In [18]:
#Taco bell comentarios: neutros:19.37% - positivos: 61.05% - negativos: 19.57%